<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All tests" parallel="classes" thread-count="2">
    <test name="All tests" preserve-order="true">

        <classes>
            <class name="apiTest.TestUsingDb">
                <methods>
                    <include name="createBook" />
                    <include name="getBookById" />
                    <include name="updateBook" />
                    <include name="deleteBook" />
                </methods>
            </class>
            <class name="apiTest.CreateUpdateDeleteTest">
                <methods>
                    <include name="createBook" />
                    <include name="deleteBook" />
                    <include name="deleteNonExistingBook" />
                    <include name="updateBook" />
                    <include name="getBookById" />
                </methods>
            </class>
            <class name="apiTest.TestUsersBook">
                <methods>
                    <include name="addBookToUser" />
                </methods>
            </class>
            <class name="apiTest.UserBookOuterJoin">
                <methods>
                    <include name="addBookToUser" />
                </methods>
            </class>
        </classes>
    </test>
</suite>